@using PagedList.Mvc
@model PagedList.IPagedList<etournament.Models.tbl_category>

@{
    ViewBag.Title = "ViewCategory";
}
    <head>
        <style>
            .img{

                opacity: 0.8;
            }
            .img:hover {
                transform: scale(1.1);
                opacity: 1;
            }
        </style>
        <link href="~/Content/PagedList.css" rel="stylesheet" />
    </head>
<h2 class="text-center popover-content btn-link h2">ViewCategory</h2>
<div class="container" style="width:100%">
    

    <div class=" row" style=" margin-bottom:60px">
        @if(Model!=null)
        {
            foreach(var item in Model)
            {
                <div class="col-lg-4 col-md-4 " style="height: 200px; margin-top:100px">
                    <img src=@Url.Content(item.c_img) style=" height:100%; width:100%;   "class="img" />
                    <h4 style="color:black; font-family:'MS Reference Sans Serif'; text-align:center">@item.c_name</h4>
                    <div class="row">
                        <div class="col-md-6">@Html.ActionLink("Delete", "Delete", new { id = item.c_id }, new { @class = "btn btn-danger btn-block" })</div>
                        <div class="col-md-6">@Html.ActionLink("Disable", "Delete", new { id = item.c_id }, new { @class = "btn btn-default btn-toolbar btn-block" })</div>
                        
                    </div>
                </div>
            }
        }
    </div>
</div>
<div id="container" style="margin-left:50%">
    Page @(Model.PageCount<Model.PageNumber ?0: Model.PageNumber)
    of @Model.PageCount @Html.PagedListPager(Model , page=>Url.Action("ViewCategory",new { page }))
</div>
